@charset "UTF-8";
/* CSS Document */

.content {
	background-color: #FDC526;
	width: 780px;
	height: 600px;
	margin-top: 25px;
}

body {
	background-repeat: ;
	background-image: ;
	background-color: ;
	padding-top: 0px;
	margin: 0;
	padding: 0;
}

.table {
	background-color: #FDC526;
	width: 250px;
	height: 300px;
	margin-top: 25px;
	border: 2px solid black;
}

html {
	cursor: url(silverstreaks_2.cur), default;
}

#wrapper {
	width: 965px;
	margin-right: auto;
	margin-left: auto;
}

p {
	font-size: 24px;	
}

.board {
	border: 2px solid black;
	padding-bottom: 5px;
}

#neat {
	color: #000000;
	font-size: 24px;
}

#button {
	color: white;
	background-color: black;
	border: solid 2px white;
}

.click-me {
	padding: 5px 10px 5px 10px;	
}

.click-us {
	padding: 5px 24.5px 5px 20px;	
}

header {
	width: 965px;
	height: 100px;
	background-color: #FFF;
}

figure {
	float: left;
	margin-top: 25px;
	width: 110px;
	height: 110px;
	margin-left: 5px;
}

#icon {
	width: 110px;
	height: 110px;
}

#title {
	background-color: #FDC526;
	width: 782px;
	height: 75px;
	float: left;
	margin-top: 35px;
	margin-bottom: 10px;
	
}

footer {
	width: 780px;
	height: 100px;
	float: right;
	background-color: #FDC526;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

nav {
	width: 750px;
	margin-left: 200px;
	height: 75px;
	background-color: #FFF;
	margin-right: 50px;
}

td {
	color: white;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	border-color: white;
	border: solid;
	border-width: 2px;
	text-align: center;
}

h1 {
	color: black;
	font-family: "Comic Sans MS", cursive;
	font-weight: normal;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	background-color: white;
	color: black;
}

#button:hover {
	text-decoration: none;	
}

#name {
	margin: 10px;
	color: black;
}

.text {
	margin-top: 20px;
	margin-left: 100px;
}

hr {
	border: 1px solid black;
}


.print{
	color: Black;
	border-bottom-color: #FFF;
	margin-left: 300px;
	text-decoration: underline;
}

.print-text{
	background-color: black;
	color: white;
	margin: 25px;
	font-size: 18px;
}

iframe{
	margin-top: 85px;
	float: right;
	margin-right: 30px;
	width: 300px;
	height: 200px;
	border-style: solid;
	border-color: #000;
	
}

.model-text{
	float: right;
	margin-top: 10px;
	
}



#myreel{
	margin: 25px;
	margin-top: 100px;
	border-style: solid;
	border-color: #000;
}


.back{
color:black:	
}
/* Dual Button CSS */

.dualcolorbutton{
 	border: 1px solid navy;
  background: white; /* default button background color */
  display: inline-block; /* set to block or inline-block */
  padding: 10px 15px;
	margin: 10px; /* for demo layout */
  font: normal 16px 'Lato', sans-serif;  /* use google custom font "Lato" */
  border-radius: 18px;
  cursor: pointer;
  position: relative;
	outline: none;
	text-decoration: none;
  color: black;
  overflow: hidden;
	/*overflow bug in Chrome fix: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera */
	z-index: 100;
	transition: all .5s;
}

.dualcolorbutton > span{
  position: relative;
  display: block;
  z-index: 100;
}

.dualcolorbutton:before{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #CC6; /* left slanted panel background color */
  top: 0;
  left: 0;
  -webkit-transform: skew(-10deg) translate3d(-103%,0,0);
  transform: skew(-10deg) translate3d(-103%,0,0); /* tuck away slanted panel beyond left edge of button */
  border-right: 1px solid #000000;
  transition: all .5s;
}

.dualcolorbutton:hover{
	color: white;
	background: #BC3A31; /* button background color onhover */
}

.dualcolorbutton:hover:before{
  -webkit-transform: skew(-10deg) translate3d(-50%,0,0);
  transform: skew(-10deg) translate3d(-50%,0,0); /* move slanted panel to middle of panel */
}

/* "RightSlide Varation */

.dualcolorbutton.rightslide:before{
  -webkit-transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted panel beyond right edge of button */
  transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted panel beyond right edge of button */
}

.dualcolorbutton.rightslide:hover:before{
  -webkit-transform: skew(-10deg) translate3d(50%,0,0);
  transform: skew(-10deg) translate3d(50%,0,0);
}

/* "Dual Panels Varation */

.dualcolorbutton.dualslide{
	background: black;
}

.dualcolorbutton.dualslide:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #999; /* right slanted panel background color */
  top: 0;
  left: 0;
  -webkit-transform: skew(-10deg) translate3d(-103%,0,0);
  transform: skew(-10deg) translate3d(103%,0,0); /* tuck away slanted right panel beyond right edge of button */
  border-right: 1px solid #8E1911;
  transition: all .5s;
}

.dualcolorbutton.dualslide:hover:after{
  -webkit-transform: skew(-10deg) translate3d(50%,0,0);
  transform: skew(-10deg) translate3d(50%,0,0);
}
